*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#0f2d5c;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    width:400px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    text-align:center;
}

.logo{
    width:80px;
    margin-bottom:15px;
}

h2{
    color:#0f2d5c;
}

p{
    color:#777;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:13px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:8px;
    background:#0f2d5c;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#18468f;
}

.error{
    background:#ffd6d6;
    color:red;
    padding:10px;
    margin-bottom:15px;
    border-radius:8px;
}